<div class="container">
    <div class="row">

        <div class="col-md-6 p-5 text-center contenedor">
            <h1 style="margin-bottom: 100px;">Genera tu Link personalizado</h1>
            <div class="container-fluid" style="padding: 20px;">
                <div class="row">
                    <div class="col-3">
                        <div class="mb-3">
                            <label for="tel" class="form-label">Area</label>
                            <input
                                id="tel"
                                type="number"
                                placeholder="54"
                                class="form-control"
                                [(ngModel)]="area" />
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="mb-3">
                            <label for="tel" class="form-label">Número de Teléfono</label>
                            <input
                                id="tel"
                                type="number"
                                placeholder="1123882753"
                                class="form-control"
                                [(ngModel)]="tel" />
                        </div>  
                    </div>
                </div>
            </div> 

            <div class="mb-3" style="padding: 20px;">
                <label for="mensaje" class="form-label">Mensaje</label>
                <textarea
                    id="mensaje"
                    class="form-control"
                    placeholder="Hola, me comunico desde tu web, me gustaria saber los precios de https://lynx.net.ar/"
                    [(ngModel)]="text"
                    rows="3">
                </textarea>
            </div>

            <div class="mb-3" style="padding: 20px;">
                <p class="text-muted small">Verifique la forma de uso en la parte inferior de la pagina en caso de no saber que poner en cada campo. En caso de que no aclare sus dudas comuniquese con Lynx.</p>
            </div>

            <div class="d-grid gap-2" style="padding: 20px;" >
                <button class="btn" (click)="copyURL();" type="button">Copiar Link</button>
            </div>
        </div>

        <div class="col-md-6 p-5">
            <div class="wslg-device">
                <div class="wslg-device-header">
                    <div class="wslg-speaker"></div>
                </div>
                <div class="wslg-device-body">
                    <div class="wslg-screen">
                        <div class="wslg-screen-header">
                            <div class="wpp-pre-head"></div>
                            <div class="wpp-head">
                                <div class="row text-white no-m">
                                    <div class="col-1 text-center">
                                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-2">
                                        <img src="../../../assets/img/no_profile.png" alt="IMG" class="img-fluid wpp-img" />
                                    </div>
                                    <div class="col-4">
                                        <p class="wpp-name">+&nbsp;{{getArea()}}&nbsp;{{getNumber()}}</p>
                                        <p class="wpp-status">Online</p>
                                    </div>
                                    <div class="col-1">
                                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-1">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-1 text-center">
                                        <img src="../../../assets/img/elipsis-v.png" alt="IMG" style="height: 17px;margin-top: 17px; margin-left: -12px;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wslg-screen-body">
                            <div class="wslg-screen-body-message">
                                <div class="wslg-screen-body-message--bubble">
                                    <div class="wslg-text container-fluid">
                                        <div class="row">
                                            <div class="col-2">
                                                <img
                                                    src="../../../assets/img/wslg-chat-emoji.png"
                                                    class="img-fluid"
                                                    alt="" />
                                            </div>
                                            <div class="col-8">{{ text }}</div>
                                            <div class="col-2">
                                                <img
                                                    src="../../../assets/img/wslg-chat-clip.png"
                                                    style="max-height: 20px;"
                                                    class="img-fluid"
                                                    alt="" />
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="wslg-icons-wrapper" style="max-height: 20px;">
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="wslg-screen-body-send">
                                <img
                                    src="../../../assets/img/wslg-chat-send.png"
                                    alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wslg-device-footer">
                    <div class="wslg-button"></div>
                </div>
            </div>
        </div>

    </div>
</div>