.bot-foot{
    background: #1C1E21;
    color: #FFF;
    padding: 15px;
}

p{
    margin: 0;
}

.top-foot{
    background: #283443;
    color: #FFF;
    padding: 15px;;
}

h2{
    color: #FFF;
}

footer{
    margin-top: 20px;
    box-shadow: -5px -5px 5px 1px #0003;
}